# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
fe/src/pages/admin/classroom/page.jsx
fe/src/pages/admin/semesters/list/page.jsx
fe/src/pages/admin/subjects/list/page.jsx
fe/src/pages/admin/teaching/page.jsx


*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react